@import './base/variable';
@import './partials/signIn';
@import './partials/spinner';

@keyframes popup {
  from {transform: scaleX(0);}
  to {transform: scaleX(1);}
}
@keyframes popdown {
  from {transform: scaleX(1);}
  to {transform: scaleX(0);}
}

a {
  color: $link-color;
}

.logo-brand {
  height: 70px;
}

.container {
  max-width: 1300px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 250px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 250px;
  line-height: 2; /* Vertically center the text there */
}

@media only screen and (max-width: 991px) {
  body {
    margin-bottom: 500px;
  }

  .footer {
    height: 500px;
  }
}

@media only screen and (max-width: 575px) {
  body {
    margin-bottom: 750px;
  }
  
  .footer {
    height: 750px;
  }
}

@media only screen and (max-width: 768px) {
  .recapcha {
    margin-bottom: 3%;
  }
}
