@import './base/variable';
@import './partials/signup';

@keyframes popup {
  from {transform: scaleX(0);}
  to {transform: scaleX(1);}
}
@keyframes popdown {
  from {transform: scaleX(1);}
  to {transform: scaleX(0);}
}

a {
  color: $link-color;
}

.logo-brand {
  color: $logo-brand-color;
  font: x-large;
  font-weight: bold;
}

.container {
  max-width: 1300px;
}
