@import './base/variable';
@import './partials/signIn';
@import './partials/spinner';

@keyframes popup {
  from {transform: scaleX(0);}
  to {transform: scaleX(1);}
}
@keyframes popdown {
  from {transform: scaleX(1);}
  to {transform: scaleX(0);}
}

a {
  color: $link-color;
}

.logo-brand {
  height: 70px;
}

.container {
  max-width: 1300px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 250px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 250px;
  line-height: 2; /* Vertically center the text there */
}

@media only screen and (max-width: 991px) {
  body {
    margin-bottom: 500px;
  }

  .footer {
    height: 500px;
  }
}

@media only screen and (max-width: 575px) {
  body {
    margin-bottom: 750px;
  }
  
  .footer {
    height: 750px;
  }
}

@media only screen and (max-width: 768px) {
  .recapcha {
    margin-bottom: 3%;
  }
}

@media only screen and (max-width: 724px) {
  .logo-brand {
    height: 55px;
  }  
}

@media only screen and (max-width: 666px) {
  .logo-brand {
    height: 30px;
  }  
}

@media only screen and (max-width: 575px) {
  .logo-brand {
    height: 50px;
  }  
}

@media only screen and (max-width: 370px) {
  .logo-brand {
    height: 35px;
  }  
}

#frm-search input,
#frm-search button {
  border: none;
  background-color: $color-transparent-invisible;
}

#frm-search button {
  color: $bs-success-color;
  transition: 1s;
}

#frm-search {
  border: 1px solid $accent-color;
  border-radius: 2px;
  width: 200px;
}

.none-style-container {
  a {
    text-decoration: none;
  }
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: rgba(241, 127, 0, .5);
  display: none;
  z-index: 2;
  transform: scale(1);
  animation: pulse 1.5s infinite;
}
.back-to-top:hover {
  background-color: rgba(241, 127, 0, .8);
}
.show {
  display: block;
}

@keyframes pulse {
  0% {
    transform: scale(.95);
    box-shadow: 0 0 0 0 rgba(241, 127, 0, .3);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(241, 127, 0, .1);
  }

  100% {
    transform: scale(.95);
    box-shadow: 0 0 0 0 rgba(241, 127, 0, .1);
  }
}
