<!-- Movies -->
<div id="showtimes-movies">
  <div class="showtimes-row-data showtimes-row-data-movie">
    <div style="display: none;"></div>
    <div class="showtimes-row-data-movie-img">
      <img src="https://galaxycine.vn/media/2020/10/29/300-anime_1603948612503.jpg" alt="Poster">
    </div>
    <div class="showtimes-row-data-movie-name">
      <p class="showtimes-row-data-movie-name-ori">Fate/Stay Night: Heaven's Feel III. Spring Song</p>
      <p class="showtimes-row-data-movie-name-vie">Fate/Stay Night: Heaven's Feel III. Khúc Xuân Ca</p>
    </div>
    <div class="showtimes-row-data-movie-label">
      <div>C13</div>
    </div>
  </div>
  <div class="showtimes-row-data showtimes-row-data-movie">
    <div style="display: none;"></div>
    <div class="showtimes-row-data-movie-img">
      <img src="https://galaxycine.vn/media/2020/10/2/300x450_1601622736171.jpg" alt="Poster">
    </div>
    <div class="showtimes-row-data-movie-name">
      <p class="showtimes-row-data-movie-name-ori">TIỆC TRĂNG MÁU</p>
      <p class="showtimes-row-data-movie-name-vie">TIỆC TRĂNG MÁU</p>
    </div>
    <div class="showtimes-row-data-movie-label">
      <div>C18</div>
    </div>
  </div>
  <div class="showtimes-row-data showtimes-row-data-movie">
    <div style="display: none;"></div>
    <div class="showtimes-row-data-movie-img">
      <img src="https://galaxycine.vn/media/2020/11/6/poster-dgalb_1604647452309.jpg" alt="Poster">
    </div>
    <div class="showtimes-row-data-movie-name">
      <p class="showtimes-row-data-movie-name-ori">MY GOD! FATHER</p>
      <p class="showtimes-row-data-movie-name-vie">ĐỪNG GỌI ANH LÀ BỐ</p>
    </div>
    <div class="showtimes-row-data-movie-label">
      <div>C16</div>
    </div>
  </div>
  <div class="showtimes-row-data showtimes-row-data-movie">
    <div style="display: none;"></div>
    <div class="showtimes-row-data-movie-img">
      <img src="https://galaxycine.vn/media/2020/11/6/406wx600h_1604635193603.jpg" alt="Poster">
    </div>
    <div class="showtimes-row-data-movie-name">
      <p class="showtimes-row-data-movie-name-ori">THE SWORDSMAN</p>
      <p class="showtimes-row-data-movie-name-vie">KIẾM KHÁCH</p>
    </div>
    <div class="showtimes-row-data-movie-label">
      <div>C18</div>
    </div>
  </div>
  <div class="showtimes-row-data showtimes-row-data-movie">
    <div style="display: none;"></div>
    <div class="showtimes-row-data-movie-img">
      <img src="https://galaxycine.vn/media/2020/11/2/1200wx1800h_1604303848219.jpg" alt="Poster">
    </div>
    <div class="showtimes-row-data-movie-name">
      <p class="showtimes-row-data-movie-name-ori">YOUR EYES TELL</p>
      <p class="showtimes-row-data-movie-name-vie">THANH ÂM TRONG MẮT EM</p>
    </div>
    <div class="showtimes-row-data-movie-label">
      <div>C16</div>
    </div>
  </div>
  <div class="showtimes-row-data showtimes-row-data-movie">
    <div style="display: none;"></div>
    <div class="showtimes-row-data-movie-img">
      <img src="https://galaxycine.vn/media/2020/11/3/300wx450h_1604372215389.jpg" alt="Poster">
    </div>
    <div class="showtimes-row-data-movie-name">
      <p class="showtimes-row-data-movie-name-ori">STARDOG AND TURBOCAT</p>
      <p class="showtimes-row-data-movie-name-vie">LIÊN QUÂN SIÊU THÚ</p>
    </div>
    <div class="showtimes-row-data-movie-label">
      <div>P</div>
    </div>
  </div>
  <div class="showtimes-row-data showtimes-row-data-movie">
    <div style="display: none;"></div>
    <div class="showtimes-row-data-movie-img">
      <img src="https://galaxycine.vn/media/2020/10/21/ngaquy300x450_1603269432866.jpg" alt="Poster">
    </div>
    <div class="showtimes-row-data-movie-name">
      <p class="showtimes-row-data-movie-name-ori">THE GHOUL: HORROR AT THE HOWLING FIELD</p>
      <p class="showtimes-row-data-movie-name-vie">NGẠ QUỶ: TIẾNG THÉT ĐỒI GIÓ HÚ</p>
    </div>
    <div class="showtimes-row-data-movie-label">
      <div>C18</div>
    </div>
  </div>
</div>

<!-- Theaters -->
<div id="showtimes-theaters">
  <div class="showtimes-row-data showtimes-row-data-theater">
    <div style="display: none;"></div>
    <div class="showtimes-row-data-theater-name">Fancine Hùng Vương Plaza</div>
  </div>
  <div class="showtimes-row-data showtimes-row-data-theater">
    <div style="display: none;"></div>
    <div class="showtimes-row-data-theater-name">Fancine Thảo Điền Pearl</div>
  </div>
  <div class="showtimes-row-data showtimes-row-data-theater">
    <div style="display: none;"></div>
    <div class="showtimes-row-data-theater-name">Fancine Parkson Đồng Khởi</div>
  </div>
  <div class="showtimes-row-data showtimes-row-data-theater">
    <div style="display: none;"></div>
    <div class="showtimes-row-data-theater-name">Fancine Aeon Bình Tân</div>
  </div>
  <div class="showtimes-row-data showtimes-row-data-theater">
    <div style="display: none;"></div>
    <div class="showtimes-row-data-theater-name">Fancine Pandora City</div>
  </div>
  <div class="showtimes-row-data showtimes-row-data-theater">
    <div style="display: none;"></div>
    <div class="showtimes-row-data-theater-name">Fancine Giga Mall Thủ Đức</div>
  </div>
  <div class="showtimes-row-data showtimes-row-data-theater">
    <div style="display: none;"></div>
    <div class="showtimes-row-data-theater-name">Fancine Lý Chính Thắng</div>
  </div>
  <div class="showtimes-row-data showtimes-row-data-theater">
    <div style="display: none;"></div>
    <div class="showtimes-row-data-theater-name">Fancine Vincom Center Landmark 81</div>
  </div>
  <div class="showtimes-row-data showtimes-row-data-theater">
    <div style="display: none;"></div>
    <div class="showtimes-row-data-theater-name">Fancine Liberty Citypoint</div>
  </div>
  <div class="showtimes-row-data showtimes-row-data-theater">
    <div style="display: none;"></div>
    <div class="showtimes-row-data-theater-name">Fancine Crescent Mall</div>
  </div>
</div>

<!-- Showtimes -->
<div id="showtimes-showtimes">
  <div class="showtimes-row-data showtimes-row-data-showtime">
    <div class="showtimes-row-data-showtime-date">Thứ ba, 01/12/2020</div>
    <div class="showtimes-row-data-showtime-list">
      <div class="showtimes-row-data-showtime-item">
        <div class="showtimes-row-data-showtime-type">2D - L.Tiếng</div>
        <div class="showtimes-row-data-showtime-timegrid">
          <a href="book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">10:00</div></a>
          <a href="book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">12:00</div></a>
          <a href="book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">14:00</div></a>
          <a href="book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">16:00</div></a>
          <a href="book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">18:00</div></a>
          <a href="book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">19:45</div></a>
          <a href="book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">20:30</div></a>
          <a href="book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">21:45</div></a>
          <a href="book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">23:00</div></a>
        </div>
      </div>
      <div class="showtimes-row-data-showtime-item">
        <div class="showtimes-row-data-showtime-type">2D - Phụ đề</div>
        <div class="showtimes-row-data-showtime-timegrid">
          <a href="book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">13:00</div></a>
          <a href="book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">17:00</div></a>
        </div>
      </div>
    </div>
  </div>
  <div class="showtimes-row-data showtimes-row-data-showtime">
    <div class="showtimes-row-data-showtime-date">Thứ tư, 02/12/2020</div>
    <div class="showtimes-row-data-showtime-list">
      <div class="showtimes-row-data-showtime-item">
        <div class="showtimes-row-data-showtime-type">2D - L.Tiếng</div>
        <div class="showtimes-row-data-showtime-timegrid">
          <a href="book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">10:00</div></a>
          <a href="book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">12:00</div></a>
          <a href="book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">14:00</div></a>
          <a href="book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">16:00</div></a>
          <a href="book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">18:00</div></a>
          <a href="book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">19:45</div></a>
          <a href="book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">20:30</div></a>
        </div>
      </div>
      <div class="showtimes-row-data-showtime-item">
        <div class="showtimes-row-data-showtime-type">2D - Phụ đề</div>
        <div class="showtimes-row-data-showtime-timegrid">
          <a href="book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">13:00</div></a>
          <a href="book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">17:00</div></a>
          <a href="book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">19:15</div></a>
          <a href="book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">21:30</div></a>
        </div>
      </div>
    </div>
  </div>
</div>
