<!-- Showtimes 1 -->
<div id="showtimes-showtimes-1">
  <div class="showtimes-row-data showtimes-row-data-showtime">
    <div class="showtimes-row-data-showtime-date">Thứ ba, 01/12/2020</div>
    <div class="showtimes-row-data-showtime-list">
      <div class="showtimes-row-data-showtime-item">
        <div class="showtimes-row-data-showtime-type">2D - L.Tiếng</div>
        <div class="showtimes-row-data-showtime-timegrid">
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">10:00</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">12:00</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">14:00</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">16:00</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">18:00</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">19:45</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">20:30</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">21:45</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">23:00</div></a>
        </div>
      </div>
      <div class="showtimes-row-data-showtime-item">
        <div class="showtimes-row-data-showtime-type">2D - Phụ đề</div>
        <div class="showtimes-row-data-showtime-timegrid">
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">13:00</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">17:00</div></a>
        </div>
      </div>
    </div>
  </div>
  <div class="showtimes-row-data showtimes-row-data-showtime">
    <div class="showtimes-row-data-showtime-date">Thứ tư, 02/12/2020</div>
    <div class="showtimes-row-data-showtime-list">
      <div class="showtimes-row-data-showtime-item">
        <div class="showtimes-row-data-showtime-type">2D - L.Tiếng</div>
        <div class="showtimes-row-data-showtime-timegrid">
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">10:00</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">12:00</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">14:00</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">16:00</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">18:00</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">19:45</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">20:30</div></a>
        </div>
      </div>
      <div class="showtimes-row-data-showtime-item">
        <div class="showtimes-row-data-showtime-type">2D - Phụ đề</div>
        <div class="showtimes-row-data-showtime-timegrid">
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">13:00</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">17:00</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">19:15</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">21:30</div></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Showtimes 2 -->
<div id="showtimes-showtimes-2">
  <div class="showtimes-row-data showtimes-row-data-showtime">
    <div class="showtimes-row-data-showtime-date">Thứ ba, 01/12/2020</div>
    <div class="showtimes-row-data-showtime-list">
      <div class="showtimes-row-data-showtime-item">
        <div class="showtimes-row-data-showtime-type">2D - L.Tiếng</div>
        <div class="showtimes-row-data-showtime-timegrid">
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">10:00</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">12:00</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">14:00</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">16:00</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">18:00</div></a>
        </div>
      </div>
      <div class="showtimes-row-data-showtime-item">
        <div class="showtimes-row-data-showtime-type">2D - Phụ đề</div>
        <div class="showtimes-row-data-showtime-timegrid">
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">13:00</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">17:00</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">19:00</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">21:30</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">23:00</div></a>
        </div>
      </div>
    </div>
  </div>
  <div class="showtimes-row-data showtimes-row-data-showtime">
    <div class="showtimes-row-data-showtime-date">Thứ tư, 02/12/2020</div>
    <div class="showtimes-row-data-showtime-list">
      <div class="showtimes-row-data-showtime-item">
        <div class="showtimes-row-data-showtime-type">2D - L.Tiếng</div>
        <div class="showtimes-row-data-showtime-timegrid">
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">10:00</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">12:00</div></a>
        </div>
      </div>
      <div class="showtimes-row-data-showtime-item">
        <div class="showtimes-row-data-showtime-type">2D - Phụ đề</div>
        <div class="showtimes-row-data-showtime-timegrid">
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">13:00</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">17:00</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">19:15</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">21:30</div></a>
        </div>
      </div>
    </div>
  </div>
  <div class="showtimes-row-data showtimes-row-data-showtime">
    <div class="showtimes-row-data-showtime-date">Thứ năm, 03/12/2020</div>
    <div class="showtimes-row-data-showtime-list">
      <div class="showtimes-row-data-showtime-item">
        <div class="showtimes-row-data-showtime-type">2D - L.Tiếng</div>
        <div class="showtimes-row-data-showtime-timegrid">
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">09:00</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">11:00</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">13:30</div></a>
        </div>
      </div>
      <div class="showtimes-row-data-showtime-item">
        <div class="showtimes-row-data-showtime-type">2D - Phụ đề</div>
        <div class="showtimes-row-data-showtime-timegrid">
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">13:00</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">17:00</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">19:15</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">21:30</div></a>
        </div>
      </div>
      <div class="showtimes-row-data-showtime-item">
        <div class="showtimes-row-data-showtime-type">3D - L.Tiếng</div>
        <div class="showtimes-row-data-showtime-timegrid">
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">09:30</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">10:45</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">12:15</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">15:30</div></a>
          <a href="/book-ticket" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">17:30</div></a>
        </div>
      </div>
    </div>
  </div>
</div>
