<div class="container mt-5"><!-- Comment -->
    <a class="title text-center" href="#">Bình luận phim</a>
    <div class="row">
        <div class="col-lg-6 col-sm-12 pl-lg-0 pr-lg-2">
            <div class="row">
                <div class="col-sm-4"><a href="#"><img src="https://galaxycine.vn/media/2020/11/27/450-crood_1606445095715.jpg" alt="deer.jpg" class="img-thumbnail" style="height: 150px;"></a></div>
                <div class="col-sm-8" style="height:150px;">
                    <h5><a href="#">[Review] Gia Đình Croods: Kỷ Nguyên Mới – Vui Nhộn Nhưng Sâu Sắc</a></h5>
                    <p>Tình huống hài hước, thông điệp nhân văn, đề cao nữ quyền…, nội dung của Gia Đình Croods: Kỷ Nguyên Mới có thể tóm tắt bằng những yếu tố vừa được liệt kê.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 pl-lg-2 pr-lg-0">
            <div class="row">
                <div class="col-sm-4"><a href="#"><img src="https://galaxycine.vn/media/2020/11/21/450-trai-tim_1605934014228.jpg" alt="deer.jpg" class="img-thumbnail" style="height: 150px;"></a></div>
                <div class="col-sm-8" style="height:150px;">
                    <h5><a href="#">[Review] Trái Tim Quái Vật: Khi Ác Quỷ Là Kẻ Lương Thiện Bị Tổn Thương</a></h5>
                    <p>Trái tim quái vật đặt ra câu hỏi: Liệu ác quỷ vốn được sinh ra với bản chất đã định sẵn, hay trước đó bản chất thật sự của nó đã từng là một thiên thần?</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 pl-lg-0 pr-lg-2">
            <div class="row">
                <div class="col-sm-4"><a href="#"><img src="https://galaxycine.vn/media/2020/10/20/phimtiectrangmau450x300_1603161341963.jpg" alt="deer.jpg" class="img-thumbnail" style="height: 150px;"></a></div>
                <div class="col-sm-8" style="height:150px;">
                    <h5><a href="#">[Review] Tiệc Trăng Máu: Hội Tụ Anh Tài</a></h5>
                    <p>Sau bao ngày chờ đợi, cuối cùng thì Tiệc Trăng Máu đã chính thức ra rạp. Cùng xem liệu bộ phim này có xứng đáng với kỳ vọng của khán giả không nhé.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 pl-lg-2 pr-lg-0">
            <div class="row">
                <div class="col-sm-4"><a href="#"><img src="https://galaxycine.vn/media/2020/9/26/450-rom_1601065402064.jpg" alt="deer.jpg" class="img-thumbnail" style="height: 150px;"></a></div>
                <div class="col-sm-8" style="height:150px;">
                    <h5><a href="#">[Review] Ròm: Bạo Lực Xuất Sắc Với Trải Nghiệm Đánh Đề Cực Đã</a></h5>
                    <p>Giữa một năm 2020 với đại dịch Covid hoành hành, nền công nghiệp phim ảnh bị ảnh hưởng một cách trầm trọng thì </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 pl-lg-0 pr-lg-2">
            <div class="row">
                <div class="col-sm-4"><a href="#"><img src="https://galaxycine.vn/media/2020/9/7/aqdd4_1599445372823.png" alt="deer.jpg" class="img-thumbnail" style="height: 150px;"></a></div>
                <div class="col-sm-8" style="height:150px;">
                    <h5><a href="#">[Review] Ác quỷ đối đầu: Màn trình diễn đáng đồng tiền bác gạo</a></h5>
                    <p>Sự phối hợp của hai cái tên lão luyện trong giới điện ảnh Hàn – Hwang Jung Min và Lee Jung Jae đã mang đến cho khán giả một bộ phim đáng để bỏ tiền, bỏ thời gian...</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 pl-lg-2 pr-lg-0">
            <div class="row">
                <div class="col-sm-4"><a href="#"><img src="https://galaxycine.vn/media/2020/8/28/f1d2u67yync6u8ag8ptgp4uf9mwxrcnr4pge9klb_1598592515785.jpg" alt="deer.jpg" class="img-thumbnail" style="height: 150px;"></a></div>
                <div class="col-sm-8" style="height:150px;">
                    <h5><a href="#">[Review] Tenet: Bom Tấn Giải Cứu Phòng Vé Toàn Cầu</a></h5>
                    <p>Tenet – bộ phim mang theo hy vọng “giải cứu” rạp chiếu phim toàn cầu đã chính thức công chiếu. Và không làm mất mặt...</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 pl-lg-0 pr-lg-2">
            <div class="row">
                <div class="col-sm-4"><a href="#"><img src="https://galaxycine.vn/media/2020/6/28/intruder6_1593315351802.jpg" alt="deer.jpg" class="img-thumbnail" style="height: 150px;"></a></div>
                <div class="col-sm-8" style="height:150px;">
                    <h5><a href="#">[Review] Intruder: Song Ji Hyo Đích Thực Là “Át Chủ Bài”</a></h5>
                    <p>Nếu như bạn đã quá quen thuộc với hình ảnh vui vẻ, rạng rỡ và đôi khi là có chút “ngố tàu” của Song Ji Hyo trong Running Man thì hãy cẩn thận, Intruder sẽ cho bạn thấy cô ấy nguy hiểm, đáng sợ như thế nào…</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 pl-lg-2 pr-lg-0">
            <div class="row">
                <div class="col-sm-4"><a href="#"><img src="https://galaxycine.vn/media/2020/7/3/peninsula-07_1593747258277.png" alt="deer.jpg" class="img-thumbnail" style="height: 150px;"></a></div>
                <div class="col-sm-8" style="height:150px;">
                    <h5><a href="#">[Preview] Peninsula: Cuộc Chiến Mới Khác Biệt Hoàn Toàn Train to Busan.</a></h5>
                    <p>Khi thưởng thức bộ phim này, khán giả sẽ được chứng kiến, trải nghiệm một cuộc phiêu lưu hoàn toàn khác với những nhân vật riêng biệt.</p>
                </div>
            </div>
        </div>
    </div>
</div>