
<footer class="footer container-fluid bg-dark"> <!-- Footer -->
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4 text-white mt-5">
                <h3 class="mb-3">&nbsp;&nbsp;GIỚI THIỆU</h3>
                <ul>
                    <li><a class="text-white" href="#">Về chúng tôi</a></li>
                    <li><a class="text-white" href="#">Thỏa thuận sử dụng</a></li>
                    <li><a class="text-white" href="#">Quy chế hoạt động</a></li>
                    <li><a class="text-white" href="#">Chính sách bảo mật</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-4 text-white mt-5">
                <h3 class="mb-3">&nbsp;&nbsp;&nbsp;GÓC ĐIỆN ẢNH</h3>
                <ul>
                    <li><a class="text-white" href="#">Thể loại phim</a></li>
                    <li><a class="text-white" href="#">Bình luận phim</a></li>
                    <li><a class="text-white" href="#">BLOG điện ảnh</a></li>
                    <li><a class="text-white" href="#">Phim hay tháng</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-4 text-white mt-5">
                <h3 class="mb-3">&nbsp;&nbsp;&nbsp;HỖ TRỢ</h3>
                <ul>
                    <li><a class="text-white" href="#">Góp ý</a></li>
                    <li><a class="text-white" href="#">SALE & SERVICES</a></li>
                    <li><a class="text-white" href="#">Rạp / giá vé</a></li>
                    <li><a class="text-white" href="#">Tuyển dụng</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>