<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-box">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="header">
                <h2>Galaxy Nguyễn Du</h2>
            </div>
            <div class="table">
                <div class="tbody">
                    <form class="tr">
                        <div class="title">Tên rạp</div>
                        <div class="td">Galaxy Nguyễn Du</div>
                    </form>
                    <form class="tr">
                        <div class="title">Thành phố</div>
                        <div class="td">Thành phố Hồ Chí Minh</div>
                    </form>
                    <form class="tr">
                        <div class="title">Địa chỉ</div>
                        <div class="td">116 Nguyễn Du, Phường Bến Thành, Quận 1, Thành phố Hồ Chí Minh</div>
                    </form>
                    <form class="tr">
                        <div class="title">Điện thoại</div>
                        <div class="td">+8419002224</div>
                    </form>
                    <form class="tr">
                        <div class="title">Phòng</div>
                        <div class="td">Phòng 1, Phòng 2, Phòng 3, Phòng 4</div>
                    </form>
                    <form class="tr">
                        <div class="title">Mô tả</div>
                        <div class="td">Rạp Galaxy Nguyễn Du nằm ở đường Nguyễn Du, là rạp chiếu phim đầu tiên của Galaxy Cinema được xây dựng với tiêu chuẩn Hollywood, có 5 phòng chiếu (1000 chỗ ngồi), chuẩn âm thanh Dolby 7.1. Galaxy Nguyễn Du nằm ở khu vực rất thuận lợi cho các bạn sinh viên - học sinh lẫn nhân viên văn phòng. Bên trong khuôn viên còn thường xuyên tổ chức các sự kiện ra mắt phim và hội chợ hết sức thú vị.</div>
                    </form>
                </div>
            </div>
            <button id="button-submit">Submit</button>
        </div>
    </div>
</div>