    <div class="container-fluid">
        <div class="container bg-secondary" style="border-radius: 0 0 4px 4px !important;">
            <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
                <div class="collapse navbar-collapse bg-secondary" id="collapsibleNavId">
                    <ul class="navbar-nav m-auto mt-2 mt-lg-0 font-weight-bold">
                        <li class="nav-item dropdown px-4">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Phim</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownId">
                                <a class="dropdown-item" href="/manage/postMovie">Đăng</a>
                                <a class="dropdown-item" href="#">Chỉnh sửa</a>
                                <a class="dropdown-item" href="/manage/deleteMovie">Xóa</a>
                            </div>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link" href="#">Rạp</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>