<div class="container my-5 bg-light">
    <ul class="nav nav-tabs justify-content-center"> <!-- Nav tabs -->
        <li class="nav-item">
        <a class="nav-link text-success active font-weight-bold" data-toggle="tab" href="#present-mv">Phim đang chiếu</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-success font-weight-bold" data-toggle="tab" href="#future-mv">Phim sắp chiếu</a>
        </li>
    </ul>
    <div class="tab-content"> <!-- Tab content -->
        <!-- Movie on show -->
        <div class="tab-pane container active" id="present-mv">
            <div class="row py-4">
                <div class="col-md-4 col-6 py-2">
                    <a href="info">
                        <figure class="figure">
                            <img src="./images/design/fate.jpg" alt="" class="img-thumbnail">
                            <figcaption class="figure-caption">Ahihi Àhíhí Ôhịhị</figcaption>
                            
                        </figure>
                    </a>
                </div>
                <div class="col-md-4 col-6 py-2">
                    <a href="info">
                        <figure class="figure">
                            <img src="./images/design/fate.jpg" alt="" class="img-thumbnail">
                            <figcaption class="figure-caption">Ahihi Àhíhí Ôhịhị</figcaption>
                            
                        </figure>
                    </a>
                </div>
                <div class="col-md-4 col-6 py-2">
                    <a href="info">
                        <figure class="figure">
                            <img src="./images/design/fate.jpg" alt="" class="img-thumbnail">
                            <figcaption class="figure-caption">Ahihi Àhíhí Ôhịhị</figcaption>
                            
                        </figure>
                    </a>
                </div>
                <div class="col-md-4 col-6 py-2">
                    <a href="info">
                        <figure class="figure">
                            <img src="./images/design/fate.jpg" alt="" class="img-thumbnail">
                            <figcaption class="figure-caption">Ahihi Àhíhí Ôhịhị</figcaption>
                            
                        </figure>
                    </a>
                </div>
                <div class="col-md-4 col-6 py-2">
                    <a href="info">
                        <figure class="figure">
                            <img src="./images/design/fate.jpg" alt="" class="img-thumbnail">
                            <figcaption class="figure-caption">Ahihi Àhíhí Ôhịhị</figcaption>
                            
                        </figure>
                    </a>
                </div>
                <div class="col-md-4 col-6 py-2">
                    <a href="info">
                        <figure class="figure">
                            <img src="./images/design/fate.jpg" alt="" class="img-thumbnail">
                            <figcaption class="figure-caption">Ahihi Àhíhí Ôhịhị</figcaption>
                            
                        </figure>
                    </a>
                </div>
            </div>
        </div>
        <!-- in future on show -->
        <div class="tab-pane container fade" id="future-mv">
            <div class="row py-4">
                <!-- (.col-md-4.col-6.py-2>figure.figure>img[src="./images/design/fate.jpg"].img-thumbnail+figcaption.figure-caption{Ahihi Àhíhí Ôhịhị})*6 -->
                <div class="col-md-4 col-6 py-2">
                    <figure class="figure">
                        <img src="./images/design/fate.jpg" alt="" class="img-thumbnail">
                        <figcaption class="figure-caption">Ahihi Àhíhí Ôhịhị</figcaption>
                    </figure>
                </div>
                <div class="col-md-4 col-6 py-2">
                    <figure class="figure">
                        <img src="./images/design/fate.jpg" alt="" class="img-thumbnail">
                        <figcaption class="figure-caption">Ahihi Àhíhí Ôhịhị</figcaption>
                    </figure>
                </div>
                <div class="col-md-4 col-6 py-2">
                    <figure class="figure">
                        <img src="./images/design/fate.jpg" alt="" class="img-thumbnail">
                        <figcaption class="figure-caption">Ahihi Àhíhí Ôhịhị</figcaption>
                    </figure>
                </div>
                <div class="col-md-4 col-6 py-2">
                    <figure class="figure">
                        <img src="./images/design/fate.jpg" alt="" class="img-thumbnail">
                        <figcaption class="figure-caption">Ahihi Àhíhí Ôhịhị</figcaption>
                    </figure>
                </div>
                <div class="col-md-4 col-6 py-2">
                    <figure class="figure">
                        <img src="./images/design/fate.jpg" alt="" class="img-thumbnail">
                        <figcaption class="figure-caption">Ahihi Àhíhí Ôhịhị</figcaption>
                    </figure>
                </div>
                <div class="col-md-4 col-6 py-2">
                    <figure class="figure">
                        <img src="./images/design/fate.jpg" alt="" class="img-thumbnail">
                        <figcaption class="figure-caption">Ahihi Àhíhí Ôhịhị</figcaption>
                    </figure>
                </div>
                
            </div>
        </div>
    </div>
</div>