<div class="container mt-5 bg-light"><!-- Promotion -->
    <div class="d-block text-center mb-2">
        <a class="title" href="#">Khuyến mãi</a>
    </div>
    <div class="row">
        <div class="col-6 col-md-3 p-3 pl-0">
            <div class="card img-fluid">
                <img class="card-img-top" src="https://i.pinimg.com/474x/13/8e/5d/138e5df39c0a46fbeb2e19e916e813d6.jpg" alt="Card image" style="width:100%;">
                <div class="card-img-overlay text-center content-card text-white promotion-onshow-content">
                  <h3 class="card-title mb-4 mt-2">Heading 1</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic molestiae reprehenderit atque incidunt, facilis accusamus.</p>
                  <h5><a href="/promotion" class="position-relative promotion-btn text-white px-4 py-2">Chi tiết</a></h5>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 p-3 pl-0">
            <div class="card img-fluid">
                <img class="card-img-top" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/modern-big-sale-discount-promotion-poster-flyer-template-design-c53a56d89f6dcfb3b9556fa6ad86211b_screen.jpg?ts=1561450142" alt="Card image" style="width:100%;">
                <div class="card-img-overlay text-center content-card text-white promotion-onshow-content">
                  <h3 class="card-title mb-4 mt-2">Heading 2</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic molestiae reprehenderit atque incidunt, facilis accusamus.</p>
                  <h5><a href="/promotion" class="position-relative promotion-btn text-white px-4 py-2">Chi tiết</a></h5>
                </div>
              </div>
        </div>
        <div class="col-6 col-md-3 p-3 pl-0">
            <div class="card img-fluid">
                <img class="card-img-top" src="https://i.pinimg.com/474x/2e/9c/49/2e9c49b4c3a69d348f18a9bdedd48e8a.jpg" alt="Card image" style="width:100%;">
                <div class="card-img-overlay text-center content-card text-white promotion-onshow-content">
                  <h3 class="card-title mb-4 mt-2">Heading 3</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic molestiae reprehenderit atque incidunt, facilis accusamus.</p>
                  <h5><a href="/promotion" class="position-relative promotion-btn text-white px-4 py-2">Chi tiết</a></h5>
                </div>
              </div>
        </div>

        <div class="col-6 col-md-3 p-3 pl-0">
            <div class="card img-fluid">
                <img class="card-img-top" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/today-only-big-sale-poster-template-design-254f2389542477c07004ec349e12d4a9_screen.jpg?ts=1574494963" alt="Card image" style="width:100%;">
                <div class="card-img-overlay text-center content-card text-white promotion-onshow-content">
                  <h3 class="card-title mb-4 mt-2">Heading 4</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic molestiae reprehenderit atque incidunt, facilis accusamus.</p>
                  <h5><a href="/promotion" class="position-relative promotion-btn text-white px-4 py-2">Chi tiết</a></h5>
                </div>
              </div>
        </div>
        <div class="col-6 col-md-3 p-3 pl-0">
            <div class="card img-fluid">
                <img class="card-img-top" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/colorful-event-promotion-poster-template-f129e1beb5c13af31231b422d5942dca_screen.jpg?ts=1563360216" alt="Card image" style="width:100%;">
                <div class="card-img-overlay text-center content-card text-white promotion-onshow-content">
                  <h3 class="card-title mb-4 mt-2">Heading 5</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic molestiae reprehenderit atque incidunt, facilis accusamus.</p>
                  <h5><a href="/promotion" class="position-relative promotion-btn text-white px-4 py-2">Chi tiết</a></h5>
                </div>
              </div>
        </div>
        <div class="col-6 col-md-3 p-3 pl-0">
            <div class="card img-fluid">
                <img class="card-img-top" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/11b778416abfa5dfe9522eb175fac47a_screen.jpg?ts=1561377530" alt="Card image" style="width:100%;">
                <div class="card-img-overlay text-center content-card text-white promotion-onshow-content">
                  <h3 class="card-title mb-4 mt-2">Heading 6</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic molestiae reprehenderit atque incidunt, facilis accusamus.</p>
                  <h5><a href="/promotion" class="position-relative promotion-btn text-white px-4 py-2">Chi tiết</a></h5>
                </div>
              </div>
        </div>

    </div>
</div>