<div id="article-header" class="article-font">
    <!-- <h1 class="article-header-title">loreemememememeememmemeememememememeemememememememeemememm</h1> -->
    <h1 class="article-header-title">TỔ CHỨC VÀ CÁC CHỨC NĂNG CỦA MỘT BÀI ĐÁNH GIÁ <br> (Đây là nơi đặt tên của bộ phim)</h1> 
    <p><!--hello--></p>
</div>

<article class="article-body article-font" >
    <h1 class="article-content-justify-center">Tiêu đề của bài viết</h1>
    <div class="entry-meta">
      <span class="entry-item">28-11-2020</span>
      <span class="entry-item">Huy Hoàng</span>
    </div>
    
    <h1 class="article-paragraph-title">Đây là Tiêu đề của Đoạn văn:</h1>
    <p><b>Đây là phần nội dung căn đều hai bên theo mặc định:</b> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam quisquam totam nemo doloremque excepturi deserunt quis soluta ab id! Odit consequuntur veritatis ipsa atque in perferendis dolor mollitia voluptates et accusamus! Quas consequatur et consectetur modi? Fugit temporibus quidem alias dignissimos, quisquam excepturi accusantium unde libero, eos corrupti et. Deleniti?</p>
    <p class="article-content-justify-center"><b>Đây là nội dung được căn giữa:</b> Helloworld</p>
    <p class="article-content-justify-right"><b>Đây là phần nội dung mặc định (ở bên phải):</b> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam quisquam totam nemo doloremque excepturi deserunt quis soluta ab id! Odit consequuntur veritatis ipsa atque in perferendis dolor mollitia voluptates et accusamus! Quas consequatur et consectetur modi? Fugit temporibus quidem alias dignissimos, quisquam excepturi accusantium unde libero, eos corrupti et. Deleniti?</p>
    <p class="article-content-justify-left"><b>Đây là phần nội dung căn đều bên trái:</b>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur repellendus repudiandae suscipit ullam, quia, sunt, dolores numquam asperiores placeat excepturi ratione nostrum corporis nam minima maxime odit consequuntur nihil quibusdam in quaerat vel quas a delectus! Velit quisquam molestias, perferendis ipsum a exercitationem, culpa quis eos quibusdam reiciendis ad! Reiciendis.</p>
    
    <p class="article-cite">
      <b>Đây là đoạn trích dẫn câu nói hay đoạn văn:</b><br>
      Một con vịt xòe ra hai cái cánh,<br>
      Nó kêu rằng cáp cáp cáp cạp cạp cạp<br>
      Gặp hồ nước nó bì bà bì bõm<br>
      Lúc lên bờ vẫy cái cánh cho khô.<br>
      <br>
      Một con vịt xòe ra hai cái cánh,<br>
      Nó kêu rằng cáp cáp cáp cạp cạp cạp<br>
      Gặp hồ nước nó bì bà bì bõm<br>
      Lúc lên bờ vẫy cái cánh cho khô!
    </p>

    <h1 class="article-paragraph-title">Đây là hình ảnh KHÔNG có caption:</h1>
    
    <p>Hình ảnh ví dụ cho màn hình size LỚN</p>
    <img src="/images/reviewContentSample/bigIMG.PNG" alt="" class="article-image">

    <h1 class="article-paragraph-title">Đây là hình ảnh CÓ caption</h1>
    <figure>
      <img src="/images/reviewContentSample/smallIMG.PNG" alt="">
      <figcaption>Hình ảnh ví dụ cho màn hình size NHỎ</figcaption>
    </figure>
    
    <h1 class="article-paragraph-title">Đây là video được chèn vào:</h1>
    <iframe width="420" height="315" src="https://www.youtube.com/embed/Ct6BUPvE2sM">
    </iframe>

    <div class="entry-meta tag">
      <div class="tag-link">
        <a href="#">Tag thứ I</a>
        <a href="#">Tag thứ II</a>
        <a href="#">Tag thứ III</a>
      </div>
    </div>
</article>
