<div class="spinner-modal">
  <div class="spinner-modal-content"></div>
</div>

<section>
  <div id="showtimes-container">
    <div id="showtimes-head">
      <button id="showtimes-controller-movie">THEO PHIM</button>
      <button id="showtimes-controller-theater">THEO RẠP</button>
    </div>
    <div id="showtimes-main">
      <div id="showtimes-col-movie" class="showtimes-col">
        <div class="showtimes-row-head">CHỌN PHIM</div>
        <div class="showtimes-row-list">
          <div class="showtimes-row-data showtimes-row-data-notif">Vui lòng chọn rạp trước</div>
        </div>
      </div>
      <div id="showtimes-col-theater" class="showtimes-col">
        <div class="showtimes-row-head">CHỌN RẠP</div>
        <div class="showtimes-row-list">
          <div class="showtimes-row-data showtimes-row-data-notif">Vui lòng chọn phim trước</div>
        </div>
      </div>
      <div id="showtimes-col-showtime" class="showtimes-col">
        <div class="showtimes-row-head">CHỌN SUẤT</div>
        <div class="showtimes-row-list">
          <div class="showtimes-row-data showtimes-row-data-notif">Vui lòng chọn rạp trước</div>
          <div class="showtimes-row-data showtimes-row-data-notif">Vui lòng chọn phim trước</div>
        </div>
      </div>
    </div>
  </div>
</section>
