<section>
    <div id="book-ticket-container">
        <div id="book-ticket-main">
            <div id="book-ticket-ticketfood-box" class="book-ticket-select-box">
                <div class="book-ticket-box-header">CHỌN VÉ / THỨC ĂN - {{ ticket }}</div>
                <div class="book-ticket-box-section">
                    <div id="book-ticket-ticket-box">
                        <div class="book-ticket-head">
                            <div class="book-ticket-row">
                                <div class="book-ticket-type-cell book-ticket-cell">Loại vé</div>
                                <div class="book-ticket-quantity-cell book-ticket-cell">Số lượng</div>
                                <div class="book-ticket-unit-price-cell book-ticket-cell">Giá (VNĐ)</div>
                                <div class="book-ticket-total-price-cell book-ticket-cell">Tổng (VNĐ)</div>
                            </div>
                        </div>
                        <div class="book-ticket-list">
                            <div class="book-ticket-row">
                                <div class="book-ticket-type-cell book-ticket-cell">
                                    <div class="book-ticket-name">Người lớn</div>
                                    <div class="book-ticket-description">Vé 2D</div>
                                </div>
                                <div class="book-ticket-quantity-cell book-ticket-cell">
                                    <button class="book-ticket-decrease-btn book-ticket-quantity-btn"></button>
                                    <div class="book-ticket-quantity">0</div>
                                    <button class="book-ticket-increase-btn book-ticket-quantity-btn"></button>
                                </div>
                                <div class="book-ticket-unit-price-cell book-ticket-cell">90,000</div>
                                <div class="book-ticket-total-price-cell book-ticket-cell">0</div>
                            </div>
                            <div class="book-ticket-row">
                                <div class="book-ticket-type-cell book-ticket-cell">
                                    <div class="book-ticket-name">Thành viên</div>
                                    <div class="book-ticket-description">Vé 2D - Chỉ áp dụng cho khách hàng thành
                                        viên</div>
                                </div>
                                <div class="book-ticket-quantity-cell book-ticket-cell">
                                    <button class="book-ticket-decrease-btn book-ticket-quantity-btn"></button>
                                    <div class="book-ticket-quantity">0</div>
                                    <button class="book-ticket-increase-btn book-ticket-quantity-btn"></button>
                                </div>
                                <div class="book-ticket-unit-price-cell book-ticket-cell">80,000</div>
                                <div class="book-ticket-total-price-cell book-ticket-cell">0</div>
                            </div>
                            <div class="book-ticket-row book-ticket-total-row">
                                <div class="book-ticket-type-cell book-ticket-cell">Tổng</div>
                                <div class="book-ticket-quantity-cell book-ticket-cell"></div>
                                <div class="book-ticket-unit-price-cell book-ticket-cell"></div>
                                <div class="book-ticket-total-price-cell book-ticket-cell">0</div>
                            </div>
                        </div>
                    </div>
                    <div id="book-ticket-food-box">
                        <div class="book-ticket-head">
                            <div class="book-ticket-row">
                                <div class="book-ticket-type-cell book-ticket-cell">Combo</div>
                                <div class="book-ticket-quantity-cell book-ticket-cell">Số lượng</div>
                                <div class="book-ticket-unit-price-cell book-ticket-cell">Giá (VNĐ)</div>
                                <div class="book-ticket-total-price-cell book-ticket-cell">Tổng (VNĐ)</div>
                            </div>
                        </div>
                        <div class="book-ticket-list">
                            <div class="book-ticket-row">
                                <div class="book-ticket-type-cell book-ticket-cell">
                                    <div class="book-ticket-img">
                                        <img src="https://www.galaxycine.vn/media/2020/5/19/combo-1_1589871759174.jpg"
                                            alt="iCombo 1 Big">
                                    </div>
                                    <div class="book-ticket-type">
                                        <div class="book-ticket-name">iCombo 1 Big</div>
                                        <div class="book-ticket-description">1 Bắp + 1 Nước ngọt 32 Oz</div>
                                    </div>
                                </div>
                                <div class="book-ticket-quantity-cell book-ticket-cell">
                                    <button class="book-ticket-decrease-btn book-ticket-quantity-btn"></button>
                                    <div class="book-ticket-quantity">0</div>
                                    <button class="book-ticket-increase-btn book-ticket-quantity-btn"></button>
                                </div>
                                <div class="book-ticket-unit-price-cell book-ticket-cell">72,000</div>
                                <div class="book-ticket-total-price-cell book-ticket-cell">0</div>
                            </div>
                            <div class="book-ticket-row">
                                <div class="book-ticket-type-cell book-ticket-cell">
                                    <div class="book-ticket-img">
                                        <img src="https://www.galaxycine.vn/media/2020/5/19/combo-2_1589871763789.jpg"
                                            alt="iCombo 2 Small">
                                    </div>
                                    <div class="book-ticket-type">
                                        <div class="book-ticket-name">iCombo 2 Small</div>
                                        <div class="book-ticket-description">1 Bắp + 2 Nước ngọt 22 Oz</div>
                                    </div>
                                </div>
                                <div class="book-ticket-quantity-cell book-ticket-cell">
                                    <button class="book-ticket-decrease-btn book-ticket-quantity-btn"></button>
                                    <div class="book-ticket-quantity">0</div>
                                    <button class="book-ticket-increase-btn book-ticket-quantity-btn"></button>
                                </div>
                                <div class="book-ticket-unit-price-cell book-ticket-cell">81,000</div>
                                <div class="book-ticket-total-price-cell book-ticket-cell">0</div>
                            </div>
                            <div class="book-ticket-row">
                                <div class="book-ticket-type-cell book-ticket-cell">
                                    <div class="book-ticket-img">
                                        <img src="https://www.galaxycine.vn/media/2020/5/21/family-combo-11_1590046655052.jpg"
                                            alt="iCombo Family 1">
                                    </div>
                                    <div class="book-ticket-type">
                                        <div class="book-ticket-name">iCombo Family 1</div>
                                        <div class="book-ticket-description">1 Bắp + 3 Nước ngọt 22 Oz</div>
                                    </div>
                                </div>
                                <div class="book-ticket-quantity-cell book-ticket-cell">
                                    <button class="book-ticket-decrease-btn book-ticket-quantity-btn"></button>
                                    <div class="book-ticket-quantity">0</div>
                                    <button class="book-ticket-increase-btn book-ticket-quantity-btn"></button>
                                </div>
                                <div class="book-ticket-unit-price-cell book-ticket-cell">116,000</div>
                                <div class="book-ticket-total-price-cell book-ticket-cell">0</div>
                            </div>
                            <div class="book-ticket-row">
                                <div class="book-ticket-type-cell book-ticket-cell">
                                    <div class="book-ticket-img">
                                        <img src="https://www.galaxycine.vn/media/2020/5/21/family-combo-2_1590046348452.jpg"
                                            alt="iCombo Family 2">
                                    </div>
                                    <div class="book-ticket-type">
                                        <div class="book-ticket-name">iCombo Family 2</div>
                                        <div class="book-ticket-description">2 Bắp + 4 Nước ngọt 22 Oz + 1 Snack
                                        </div>
                                    </div>
                                </div>
                                <div class="book-ticket-quantity-cell book-ticket-cell">
                                    <button class="book-ticket-decrease-btn book-ticket-quantity-btn"></button>
                                    <div class="book-ticket-quantity">0</div>
                                    <button class="book-ticket-increase-btn book-ticket-quantity-btn"></button>
                                </div>
                                <div class="book-ticket-unit-price-cell book-ticket-cell">162,000</div>
                                <div class="book-ticket-total-price-cell book-ticket-cell">0</div>
                            </div>
                            <div class="book-ticket-row book-ticket-total-row">
                                <div class="book-ticket-type-cell book-ticket-cell">Tổng</div>
                                <div class="book-ticket-quantity-cell book-ticket-cell"></div>
                                <div class="book-ticket-unit-price-cell book-ticket-cell"></div>
                                <div class="book-ticket-total-price-cell book-ticket-cell">0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="book-ticket-seat-box" class="book-ticket-select-box">
                <div class="book-ticket-box-header">CHỌN GHẾ</div>
                <div class="book-ticket-box-section"></div>
            </div>

            <div id="book-ticket-checkout-box" class="book-ticket-select-box">
                <div class="book-ticket-box-header">VUI LÒNG THANH TOÁN</div>
                <div class="book-ticket-box-section"></div>
            </div>

            <div id="book-ticket-info-box">
                <img class="book-ticket-movie-poster"
                    src="https://www.galaxycine.vn/media/2020/10/29/300-anime_1603948612503.jpg" alt="Movie Poster">
                <div class="book-ticket-movie-name ori-name">Fate/Stay Night: Heaven's Feel III. Spring Song</div>
                <div class="book-ticket-movie-name vie-name">Fate/Stay Night: Heaven's Feel III. Khúc Xuân Ca</div>
                <div class="book-ticket-showtime-info"><b>Rạp:&ensp;</b>FanCine Tân Phú&ensp;|&ensp;Rạp 2</div>
                <div class="book-ticket-showtime-info"><b>Suất chiếu:&ensp;</b>10:00&ensp;|&ensp;Thứ sáu, 27/11/2020
                </div>
                <div class="book-ticket-showtime-info"></div>
                <div class="book-ticket-showtime-info"></div>
                <div class="book-ticket-total-price"><b>Tổng:&ensp;</b><span>0 VNĐ</span></div>
                <button class="book-ticket-continue-btn">TIẾP TỤC</button>
            </div>
        </div>
    </div>
</section>