<div class="modal-container">
    <span class="modal-close">X</span>
    <div class="modal-content">
        <!-- sign In/Up nav -->
        <div class="modal-link">
            <ul>
                <li>
                    <a href="#sign-in" class="nav-link active" id="sign-in-tab" data-toggle="tab" aria-selected="true">
                        Đăng nhập
                    </a>
                </li>
                <li>
                    <a href="#sign-up" class="nav-link" id="sign-up-tab" data-toggle="tab" aria-selected="false">
                        Đăng ký
                    </a>
                </li>
            </ul>
        </div>

        <!-- Tab content -->
        
    </div>
</div>