<div class="modal-container" id="modal">
  <div class="modal-content">
    <div class="container-fuild text-right">
      <span class="modal_close text-success bg-white" id="close-Modal" style="border-top: 1px solid black; z-index: 1; position: relative; top:-10px;"><i class="fa fa-window-close fa-lg"></i></span>
    </div>
    <div class="container my-3">
        <div class="row">
          <!-- Navigation -->
          <div class="col-3 text-center">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-signIn" role="tab" aria-controls="v-pills-signIn" aria-selected="true">Đăng Nhập</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-signUp" role="tab" aria-controls="v-pills-signUp" aria-selected="false">Đăng Ký</a>
            </div>
          </div>
          <!-- Content -->
          <div class="col-9" >
            <div class="tab-content" id="v-pills-tabContent">
                <!-- Login -->
                <div class="tab-pane fade show active" id="v-pills-signIn" role="tabpanel" aria-labelledby="v-pills-signIn-tab">
                    <form>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Tên Tài Khoản (Username)</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username của bạn">
                          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Mật Khẩu (Password)</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Duy trì đăng nhập</label>
                        </div>
                        <button type="submit" class="btn btn-outline-success">Đăng nhập!</button>
                      </form>
                </div>
                <!-- Register -->
                <div class="tab-pane fade" id="v-pills-signUp" role="tabpanel" aria-labelledby="v-pills-signUp-tab">
                    <form>
                        <div class="form-group">
                            <label for="regEmail">Email:</label>
                            <input type="email" class="form-control" id="regEmail" placeholder="Email">
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="regPassword">Mật Khẩu (Password)</label>
                            <input type="password" class="form-control" id="regPassword" placeholder="Password">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="regPassword2">Nhập lại Mật Khẩu</label>
                            <input type="password" class="form-control" id="regPassword2" placeholder="Password">
                          </div>
                        </div>
                        <div class="form-group">
                            <label for="regPhone">Số điện thoại:</label>
                            <input type="tel" class="form-control" id="regPhone" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" placeholder="0912323454">
                        </div>
                        <div class="form-group">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                              Tôi xin hứa sẽ nhớ mật khẩu
                            </label>
                          </div>
                        </div>
                        <button type="submit" class="btn btn-outline-success">Đăng ký</button>
                      </form>
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // -- Modal for sign up --
  const modalBtn = document.getElementById("signIn");
  const modal = document.getElementById('modal');
  const closeModal = document.getElementById('close-Modal');

  // Get the button that opens the modal

  // Get the <span> element that closes the modal
  function popdownModal(){
    modal.style.display = 'none';
  }
  // When the user clicks the button, open the modal
  modalBtn.onclick = function signInClick() {
    modal.style.display = 'block';
  }
  // When the user clicks on <span> (x), close the modal
  closeModal.onclick = function closeModalClick(){
      popdownModal();
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function windowClickOff(event) {
      if (event.target === modal){
        popdownModal();
      }
  }
  // -- End modal --
</script>