
<div class="sticky-top">
    <!-- Navbar-Logo -->
    <div class="container-fluid bg-light">
        <div class="container bg-light" style = "max-width: 1300px !important;">
            <nav class="navbar navbar-expand-sm navbar-light bg-light py-3">
                <a class="navbar-brand" href="/data"><h3 class="logo-brand">FanCine</h3></a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target=".collapse" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" id="signIn" href="#">Đăng nhập / Đăng ký</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Tìm Kiếm Nà ...">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </nav>
        </div>
    </div>

    <!-- Navbar -->
    <div class="container-fluid bg-dark">
        <div class="container bg-dark">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav m-auto mt-2 mt-lg-0 font-weight-bold">
                        <!-- Mua ve -->
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/showtimes">Mua vé</a>
                        </li>

                        <!-- Loai phim -->
                        <li class="nav-item dropdown px-4">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Phim</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownId">
                                <a class="dropdown-item" href="#">Đang chiếu</a>
                                <a class="dropdown-item" href="#">Sắp Chiếu</a>
                            </div>
                        </li>

                        <!-- Danh gia phim -->
                        <li class="nav-item px-4">
                            <a class="nav-link" href="#">Đánh giá phim</a>
                        </li>
                        <!-- Rap phim -->
                        <li class="nav-item px-4">
                            <a class="nav-link" href="/theaters">Rạp</a>
                        </li>
                        
                    </ul>
                </div>
            </nav>
        </div>
    </div>

{{> signIn }}

</div>