<div class="theaters-in-showtimes">
  {{#each theaters }}
    <div style="display: none;">{{ _id }}</div>
    <div class="showtimes-row-data showtimes-row-data-theater">{{ name }}</div>
  {{/each}}
</div>
