<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bạn đã bị hack</title>
    <style>
        body{
            background-color: red;
            text-align: center;
            position: relative;
            margin-top: 50vh;
        }
        p{
            color: yellow;
            font-size: 10vh;
            text-shadow: 0 5px 5px black;
            word-spacing: 5vh;
        }
        audio{
            /* width: 0%;
            height: 0%; */
            width: 200px;
            height: 100px;
        }
    </style>
</head>
<body>
    <p>Bạn đã bị Hack !!!</p>
    <!-- <audio controls autoplay loop>
        <source src="https://zingmp3.vn/bai-hat/Gap-Nhung-Khong-O-Lai-Hien-Ho-Vuong-Anh-Tu/ZOI6BFA9.html" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio> -->
      <iframe width="0" height="0" src="https://www.youtube.com/embed/EnDXGQmCz3U?autoplay=1&loop=1&playlist=GRonxog5mbw" frameborder="0" allowfullscreen></iframe>
</body>
</html>