{
  "parser": "babel-eslint",
  "plugins": ["prettier", "import"],
  "extends": [
    "prettier",
    "airbnb-base"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-console": 0,
    "no-underscore-dangle": 0,
    "no-plusplus": 0,
    "no-restricted-syntax": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "quote-props": 0,
    "no-await-in-loop": 0
  }
}