{
  "parser": "babel-eslint",
  "plugins": ["prettier", "import"],
  "extends": [
    "prettier",
    "airbnb-base"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-console": 0
  }
}