<div class="container py-3 w-100">
<h1>Dashboard</h1>

<h3>Number of users: {{ userQuantity }}</h3>
<h3>Number of movies: {{ movieQuantity }}</h3>
<h3>Number of theaters: {{ theaterQuantity }}</h3>
</div>