<div class="container my-3">
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h2>
                Quên mật khẩu
            </h2>
            {{> message }}
            <form action="/render/forgot" method="POST">
                <div class="form-group">
                    <input type="email" id="email" name="email" class="form-control" placeholder="Nhập địa chỉ email bạn đã dùng để đăng ký" required/>
                </div>
                <div class="row gap-2">
                  <div class="col-lg-6 col-sm-12 col-12">
                    <div class="g-recaptcha w-100" data-sitekey="6LcxngkaAAAAAO-aKP2yGehcIFJ8bIXHiJ6awbZB"></div>
                  </div>
                  <div class="d-grid col-lg-6 col-sm-12 col-12 d-flex p-3">
                    <button type="submit" class="btn btn-outline-success btn-block">Gửi link vào email cho tôi</button>
                  </div>
                </div>
            </form>
            <p class="mt-4">
                Đã nhớ mật khẩu? <a href="/render/login">Đăng nhập</a>
            </p>
        </div>
    </div>
</div>
</div>