<div class="container my-3" id="forceLogin">
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h2>
                Đăng nhập
            </h2>
            {{> message }}
            <form action="/render/login" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Nhập địa chỉ email" />
                </div>
                <div class="form-group">
                    <label for="password">Mật khẩu</label>
                    <input type="password" id="password" name="password" class="form-control"
                        placeholder="Nhập mật khẩu" />
                </div>
                <div class="row gap-2">
                  <div class="col-lg-6 col-sm-12 col-12">
                    <div class="g-recaptcha" data-sitekey="6LcxngkaAAAAAO-aKP2yGehcIFJ8bIXHiJ6awbZB"></div>
                  </div>
                  <div class="d-grid col-lg-6 col-sm-12 col-12 d-flex p-3">
                    <button type="submit" class="btn btn-outline-success btn-block">Đăng nhập</button>
                  </div>
                </div>
            </form>
            <p class="mt-4">
                Thành viên mới? <a href="#nav-sign-up" onclick="popupRegister()">Đăng ký</a>
            </p>
            <p>
                Quên mật khẩu? <a href="#nav-forgot" onclick="popupForgot()">Cài lại mật khẩu mới</a>
            </p>
        </div>
    </div>
</div>
</div>