<table>
  <tr>
    <th>Monthiuerbgihrefvehwjfbjwekfbewkfwekhfruk.k</th>
    <td>Savings</td>
  </tr>
  <tr>
    <th>January</th>
    <td>$100</td>
  </tr>
  <tr>
    <th>February</th>
    <td>$50</td>
  </tr>
</table>