<div class="container my-3" id="forceLogin">
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h2>
                Manager login
            </h2>
            {{> message }}
            <form action="/render/loginManager" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" type="email" id="email" name="email" class="form-control" placeholder="Email" required/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control"
                        placeholder="Password" required/>
                </div>
                <button type="submit" class="btn btn-success btn-block">Login</button>
            </form>
        </div>
    </div>
</div>
</div>