<div class="container">
<h1 class="text-center">Quản lý phim</h1>
<div class="delete-movie">
<div class="todo-container">
  <ul class="todo-list" onclick="removeMovie(event)">
    {{#each movies }}
    <div class="todo">
      <p class="_id" style="display: none;">{{ _id }}</p>
      <li class="todo-item">{{ originalName }}</li>
      <button class="complete-btn green"><i class="fas fa-check"></i></button>
      <button class="edit-btn yellow"><i class="fas fa-edit"></i></button>
      <button class="trash-btn orange"><i class="fas fa-trash"></i></button>
    </div>
    {{/each}}
  </ul>
</div>
</div>

</div>