<div id="mnuser-body">
  <div class="mnuser-container">
    <div id="mnuser-title">
      <a href="manageUser">QUẢN LÝ RẠP PHIM</a>
    </div>

    <div id="mnuser-header">
      <div id="mnuser-display">
        <div class="mmnuser-display-item">
          <input type="checkbox" id="mmnuser-display-item-name" checked>
          <label for="mmnuser-display-item-name">Tên rạp</label>
        </div>
        <div class="mmnuser-display-item">
          <input type="checkbox" id="mmnuser-display-item-city" checked>
          <label for="mmnuser-display-item-city">Thành phố</label>
        </div>
        <div class="mmnuser-display-item">
          <input type="checkbox" id="mmnuser-display-item-address" checked>
          <label for="mmnuser-display-item-address">Địa chỉ</label>
        </div>
        <div class="mmnuser-display-item">
          <input type="checkbox" id="mmnuser-display-item-phonenum" checked>
          <label for="mmnuser-display-item-phonenum">Số điện thoại</label>
        </div>
        <div class="mmnuser-display-item">
          <input type="checkbox" id="mmnuser-display-item-rooms" checked>
          <label for="mmnuser-display-item-rooms">Phòng</label>
        </div>
      </div>
    </div>
  </div>

  <div class="mnuser-container mnuser-scrollable-container">
    <table id="mnuser-table">
      <thead>
        <tr>
          <th class="mnuser-cell mnuser-name">
            <div class="mnuser-cell-wrapper">
              <div class="mnuser-cell-header">Tên rạp</div>
            </div>
          </th>
          <th class="mnuser-cell mnuser-city">
            <div class="mnuser-cell-wrapper">
              <div class="mnuser-cell-header">Thành phố</div>
            </div>
          </th>
          <th class="mnuser-cell mnuser-address">
            <div class="mnuser-cell-wrapper">
              <div class="mnuser-cell-header">Địa chỉ</div>
            </div>
          </th>
          <th class="mnuser-cell mnuser-phonenum">
            <div class="mnuser-cell-wrapper">
              <div class="mnuser-cell-header">Số điện thoại</div>
            </div>
          </th>
          {{!-- <th class="mnuser-cell mnuser-dob">
            <div class="mnuser-cell-wrapper">
              <div class="mnuser-cell-header">Phòng</div>
              <div class="mnuser-cell-sort">
                <div class="mnuser-cell-sort-item mnuser-cell-sort-asc fad fa-angle-double-up"></div>
                <div class="mnuser-cell-sort-item mnuser-cell-sort-desc fad fa-angle-double-down"></div>
              </div>
            </div>
          </th> --}}
        </tr>
      </thead>

      <tbody>
        {{#each theaters}}
        <tr>
          <td class="mnuser-cell mnuser-name">{{name}}</td>
          <td class="mnuser-cell mnuser-city">{{city}}</td>
          <td class="mnuser-cell mnuser-address">{{address}}</td>
          <td class="mnuser-cell mnuser-phonenum">{{phone}}</td>

        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>