
<div class="container-custom">
    <div class="row">
        <div class="col-9">
            <a href="#" class="d-inline path">Trang chủ</a>
            <span> > Khuyến mãi</span>
            <h1 class="title-promotion">Cùng milo Xanh Mừng Giáng Sinh An Lành </h1>
            <span class="button text-white"><img src="https://lh3.googleusercontent.com/proxy/r4jpQlJ0ISBPWAWw3VQ0HDh7213H2N8DIOoQhySTuPKWD5is63__MDipHyeAlwOvRW5J4xy3lhsdUtnREPL4hyPomqENwqbY0bABnTdl6G_rsD1Wlt4fKQ" alt="" class="img-like"><span> Thích 16</span></span>
            <span class="button text-white"> Chia sẻ </span>
            <div class="content">
                <p>
                    Bạn đã sẵn sàng gom quà Giáng Sinh cùng Fancine chưa?
                </p>
                <p>
                    Tin vui cho các Stars, từ ngày 18.12.2020 – 01.01.2021, Galaxy Cinema thực hiện chương trình “Cùng Milo Xanh Mừng Giáng Sinh An Lành” với nhiều phần quà vô cùng hấp dẫn.
                </p>
                <ul>
                    <li>Khách hàng mua vé xem phim tại rạp Galaxy Cinema được tặng 01 voucher miễn phí 12 tháng xem phim trên App Galaxy Play.</li>
                    <li>Khách hàng bất kỳ khi mua Milo ly 22oz, Combo Milo 1, Combo Milo 2 được miễn phí refill Milo. Nếu mua combo phim thì được tặng kèm 01 ly Milo 22oz.</li>
                    <li>Khi mua vé trẻ em kèm Combo Family 1 hoặc Combo Family 2 sẽ được tặng 01 Milo Teen.</li>
                </ul>
                <img src="https://kenh14cdn.com/thumb_w/600/203336854389633024/2020/11/16/photo1605511433526-16055114342521624500901.jpg" alt="" class="img-content">
                <p><strong>Điều kiện áp dụng:</strong></p>
                <ul>
                    <li>Khách hàng nhận voucher Galaxy Play tương ứng với số lượng vé đã mua.</li>
                    <li>Chương trình có thể kết thúc sớm hơn thời gian dự kiến.</li>
                    <li>Một khách hàng có thể tham gia chương trình nhiều lần.</li>
                    <li>Trong mọi trường hợp quyết định của Galaxy Cinema là quyết định cuối cùng.</li>
                </ul>
            </div>      
        </div>
    </div>
</div>
