
<div class="container-custom">
    <div class="row">
        <div class="col-lg-9 col-12">
            <a href="#" class="d-inline path">Trang chủ</a>
            <span style="opacity:0.8;"> > Khuyến mãi</span>
            <h1 class="title-promotion">Cùng milo Xanh Mừng Giáng Sinh An Lành </h1>
            <span class="button text-white"><img src="https://www.vectorico.com/wp-content/uploads/2018/02/Like-Icon.png" alt="" class="img-like"><span> Thích 16</span></span>
            <span class="button text-white"> Chia sẻ </span>
            <div class="content">
                <p>
                    Bạn đã sẵn sàng gom quà Giáng Sinh cùng Fancine chưa?
                </p>
                <p>
                    Tin vui cho các Stars, từ ngày 18.12.2020 – 01.01.2021, FanCine thực hiện chương trình “Cùng Milo Xanh Mừng Giáng Sinh An Lành” với nhiều phần quà vô cùng hấp dẫn.
                </p>
                <ul>
                    <li>Khách hàng mua vé xem phim tại rạp FanCine được tặng 01 voucher miễn phí 12 tháng xem phim trên App FanCine Play.</li>
                    <li>Khách hàng bất kỳ khi mua Milo ly 22oz, Combo Milo 1, Combo Milo 2 được miễn phí refill Milo. Nếu mua combo phim thì được tặng kèm 01 ly Milo 22oz.</li>
                    <li>Khi mua vé trẻ em kèm Combo Family 1 hoặc Combo Family 2 sẽ được tặng 01 Milo Teen.</li>
                </ul>
                <img src="https://kenh14cdn.com/thumb_w/600/203336854389633024/2020/11/16/photo1605511433526-16055114342521624500901.jpg" alt="" class="img-content">
                <p><strong>Điều kiện áp dụng:</strong></p>
                <ul>
                    <li>Khách hàng nhận voucher Galaxy Play tương ứng với số lượng vé đã mua.</li>
                    <li>Chương trình có thể kết thúc sớm hơn thời gian dự kiến.</li>
                    <li>Một khách hàng có thể tham gia chương trình nhiều lần.</li>
                    <li>Trong mọi trường hợp quyết định của FanCine là quyết định cuối cùng.</li>
                </ul>
            </div>
            <div id="graphcomment"></div>
            <button id="header-other-promotion">Khuyến mãi khác</button>
            <div class="col-6 col-lg-4 p-3 pl-0">
                <div class="card img-fluid">
                    <img class="card-img-top" src="https://i.pinimg.com/474x/13/8e/5d/138e5df39c0a46fbeb2e19e916e813d6.jpg" alt="Card image" style="width:100%;">
                    <div class="card-img-overlay text-center content-card text-white promotion-onshow-content">
                        <h3 class="card-title mb-4 mt-2">Heading 1</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic molestiae reprehenderit atque incidunt, facilis accusamus.</p>
                        <h5><a href="/promotion" class="position-absolute promotion-btn text-white px-4 py-2">Chi tiết</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
