<div class="container my-3">
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h2>
        Đăng ký tài khoản mới
      </h2>
      {{> message }}
      <button type="submit" class="btn btn-primary btn-block" onclick="popupRegister()">
        Đăng ký
      </button>
      <p class="mt-4">Đã có tài khoản? <a href="#" onclick="popupLogin()">Đăng nhập</a></p>
    </div>
  </div>
</div>
</div>