<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/showtimes.css">
    <title>FanCine</title>
</head>

<body>
    {{> sticky-top }}

    <section>
        <div id="showtimes-container">
            <div id="showtimes-head">
                <button id="showtimes-controller-film">
                    THEO PHIM
                </button>
                <button id="showtimes-controller-theater">
                    THEO RẠP
                </button>
            </div>
            <div id="showtimes-main">
                <div id="showtimes-col-film" class="showtimes-col">
                    <div class="showtimes-row-head">
                        CHỌN PHIM
                    </div>
                    <div class="showtimes-row-list">
                        <div class="showtimes-row-data showtimes-row-data-film">
                            <div class="showtimes-row-data-film-img">
                                <img src="https://www.galaxycine.vn/media/2020/10/29/300-anime_1603948612503.jpg"
                                    alt="Fate">
                            </div>
                            <div class="showtimes-row-data-film-name">
                                <p class="showtimes-row-data-film-name-ori">
                                    Fate/Stay Night: Heaven's Feel III. Spring Song
                                </p>
                                <p class="showtimes-row-data-film-name-vie">
                                    Fate/Stay Night: Heaven's Feel III. Khúc Xuân Ca
                                </p>
                            </div>
                            <div class="showtimes-row-data-film-label">
                                <div>C13</div>
                            </div>
                        </div>
                        <div class="showtimes-row-data showtimes-row-data-film">
                            <div class="showtimes-row-data-film-img">
                                <img src="https://galaxycine.vn/media/2020/10/2/300x450_1601622736171.jpg" alt="TTM">
                            </div>
                            <div class="showtimes-row-data-film-name">
                                <p class="showtimes-row-data-film-name-ori">
                                    Tiệc trăng máu
                                </p>
                                <p class="showtimes-row-data-film-name-vie">

                                </p>
                            </div>
                            <div class="showtimes-row-data-film-label">
                                <div>C18</div>
                            </div>
                        </div>
                        <div class="showtimes-row-data showtimes-row-data-film">
                            <div class="showtimes-row-data-film-img">
                                <img src="https://galaxycine.vn/media/2020/11/6/poster-dgalb_1604647452309.jpg"
                                    alt="Father">
                            </div>
                            <div class="showtimes-row-data-film-name">
                                <p class="showtimes-row-data-film-name-ori">
                                    MY GOD! FATHER
                                </p>
                                <p class="showtimes-row-data-film-name-vie">
                                    ĐỪNG GỌI ANH LÀ BỐ
                                </p>
                            </div>
                            <div class="showtimes-row-data-film-label">
                                <div>P</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="showtimes-col-theater" class="showtimes-col">
                    <div class="showtimes-row-head">
                        CHỌN RẠP
                    </div>
                    <div class="showtimes-row-list">
                        <div class="showtimes-row-data showtimes-row-data-theater">
                            FanCine Tân Phú
                        </div>
                        <div class="showtimes-row-data showtimes-row-data-theater">
                            FanCine Phú Nhuận
                        </div>
                        <div class="showtimes-row-data showtimes-row-data-theater">
                            FanCine Gò Vấp
                        </div>
                        <div class="showtimes-row-data showtimes-row-data-theater">
                            FanCine Bình Thạnh
                        </div>
                        <div class="showtimes-row-data showtimes-row-data-theater">
                            FanCine Tân Bình
                        </div>
                        <div class="showtimes-row-data showtimes-row-data-theater">
                            FanCine Quận 5
                        </div>
                    </div>

                </div>
                <div id="showtimes-col-showtime" class="showtimes-col">
                    <div class="showtimes-row-head">
                        CHỌN SUẤT
                    </div>
                    <div class="showtimes-row-list">
                        <div class="showtimes-row-data showtimes-row-data-showtime">
                            <div class="showtimes-row-data-showtime-date">
                                Thứ bảy, 28/11/2020
                            </div>
                            <div class="showtimes-row-data-showtime-list">
                                <div class="showtimes-row-data-showtime-item">
                                    <div class="showtimes-row-data-showtime-type">
                                        2D - L.Tiếng
                                    </div>
                                    <div class="showtimes-row-data-showtime-timegrid">
                                        <div class="showtimes-row-data-showtime-time">
                                            10:00
                                        </div>
                                        <div class="showtimes-row-data-showtime-time">
                                            12:00
                                        </div>
                                        <div class="showtimes-row-data-showtime-time">
                                            14:00
                                        </div>
                                        <div class="showtimes-row-data-showtime-time">
                                            16:00
                                        </div>
                                        <div class="showtimes-row-data-showtime-time">
                                            18:00
                                        </div>
                                        <div class="showtimes-row-data-showtime-time">
                                            19:45
                                        </div>
                                        <div class="showtimes-row-data-showtime-time">
                                            20:30
                                        </div>
                                        <div class="showtimes-row-data-showtime-time">
                                            21:45
                                        </div>
                                        <div class="showtimes-row-data-showtime-time">
                                            23:00
                                        </div>
                                    </div>
                                </div>
                                <div class="showtimes-row-data-showtime-item">
                                    <div class="showtimes-row-data-showtime-type">
                                        2D - Phụ đề
                                    </div>
                                    <div class="showtimes-row-data-showtime-timegrid">
                                        <div class="showtimes-row-data-showtime-time">
                                            13:00
                                        </div>
                                        <div class="showtimes-row-data-showtime-time">
                                            17:00
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="showtimes-row-data showtimes-row-data-showtime">
                            <div class="showtimes-row-data-showtime-date">
                                Chủ nhật, 29/11/2020
                            </div>
                            <div class="showtimes-row-data-showtime-list">
                                <div class="showtimes-row-data-showtime-item">
                                    <div class="showtimes-row-data-showtime-type">
                                        2D - L.Tiếng
                                    </div>
                                    <div class="showtimes-row-data-showtime-timegrid">
                                        <div class="showtimes-row-data-showtime-time">
                                            10:00
                                        </div>
                                        <div class="showtimes-row-data-showtime-time">
                                            12:00
                                        </div>
                                        <div class="showtimes-row-data-showtime-time">
                                            14:00
                                        </div>
                                        <div class="showtimes-row-data-showtime-time">
                                            16:00
                                        </div>
                                        <div class="showtimes-row-data-showtime-time">
                                            18:00
                                        </div>
                                        <div class="showtimes-row-data-showtime-time">
                                            19:45
                                        </div>
                                        <div class="showtimes-row-data-showtime-time">
                                            20:30
                                        </div>
                                    </div>
                                </div>
                                <div class="showtimes-row-data-showtime-item">
                                    <div class="showtimes-row-data-showtime-type">
                                        2D - Phụ đề
                                    </div>
                                    <div class="showtimes-row-data-showtime-timegrid">
                                        <div class="showtimes-row-data-showtime-time">
                                            13:00
                                        </div>
                                        <div class="showtimes-row-data-showtime-time">
                                            17:00
                                        </div>
                                        <div class="showtimes-row-data-showtime-time">
                                            19:15
                                        </div>
                                        <div class="showtimes-row-data-showtime-time">
                                            21:30
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    {{> footer }}
</body>

</html>