<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FanCine</title>
</head>
<body>
  <h1>Movies</h1>
  <div class="handlebar">

  </div>

  <h1>Theaters</h1>
  <div class="data-theaters"></div>

  <h1>Theaters - Movies</h1>
  <div class="data-theaters-movies"></div>

  <h1>ShowTimes</h1>
  <div class="data-showtimes"></div>
</body>
</html>