<div id="showtimes-showtimes">
  {{#each showtimes }}
  <div class="showtimes-row-data showtimes-row-data-showtime">
    <div class="showtimes-row-data-showtime-date">{{ @key }}</div>
    <div class="showtimes-row-data-showtime-list">
      {{#each this }}
      <div class="showtimes-row-data-showtime-item">
        <div class="showtimes-row-data-showtime-type">{{ @key }}</div>
        <div class="showtimes-row-data-showtime-timegrid">
          {{#each this }}
          <a href="/book-ticket/{{ this }}"><div class="showtimes-row-data-showtime-time">{{ @key }}</div></a>
          {{/each}}
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{/each}}
</div>
