<div id="showtimes-showtimes">
  {{#each theaterMovieRecursively.dateShows }}
  <div class="showtimes-row-data showtimes-row-data-showtime">
    <div class="showtimes-row-data-showtime-date">{{ value }}</div>
    <div class="showtimes-row-data-showtime-list">
      {{#each typeShows }}
      <div class="showtimes-row-data-showtime-item">
        <div class="showtimes-row-data-showtime-type">{{ value }}</div>
        <div class="showtimes-row-data-showtime-timegrid">
          {{#each timeShows }}
          <a href="/book-ticket/{{ _idShowTime }}" style="text-decoration: none; color: inherit"><div class="showtimes-row-data-showtime-time">{{ value }}</div></a>
          {{/each}}
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{/each}}
</div>
