<div id="showtimes-theaters">
  {{#each theaters }}
  <a href="#" style="text-decoration: none;">
    <div class="showtimes-row-data showtimes-row-data-theater">
      <div style="display: none;">{{ _id }}</div>
      <div class="showtimes-row-data-theater-name">{{ name }}</div>
    </div>
  </a>
  {{/each}}
</div>
