<div id="showtimes-theaters">
  {{#each theaters }}
  <div class="showtimes-row-data showtimes-row-data-theater">
    <div style="display: none;">{{ _idTheaterMovie }}</div>
    <div class="showtimes-row-data-theater-name">{{ name }}</div>
  </div>
  {{/each}}
</div>
