@import '../base/variable';

#book-ticket-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;

  #book-ticket-main {
    display: grid;
    grid-template-columns: auto 300px;
    column-gap: 20px;

    .book-ticket-select-box {
      background-color: $color-orange;
      padding: 10px;

      .book-ticket-box-header {
        color: $color-white;
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
    }

    #book-ticket-ticketfood-box {
      .book-ticket-box-section {
        font-size: 14px;

        .book-ticket-head {
          background-color: $color-brown;
          color: $color-white;
        }

        .book-ticket-list {
          background-color: $color-white;
        }

        .book-ticket-total-row {
          color: $color-orange;
          font-size: larger;
        }

        .book-ticket-row {
          display: grid;
          grid-template-columns: auto 150px 100px 120px;
          padding: 8px;
          border-bottom: 1px solid $color-gray;

          .book-ticket-cell {
            display: flex;
            align-items: center;
          }

          .book-ticket-type-cell {
            justify-content: flex-start;
          }

          .book-ticket-quantity-cell {
            justify-content: center;

            .book-ticket-quantity {
              display: inline;
              width: 60px;
              padding: 5px;
              margin-left: 5px;
              margin-right: 5px;
              text-align: center;
              border: 1px solid $color-darkgray;
            }

            .book-ticket-quantity-btn {
              outline: none;
              border: none;
              padding: 2px;
              border-radius: 50%;
              font-size: 12px;
              color: $color-orange;
            }

            .book-ticket-quantity-btn:hover {
              cursor: pointer;
            }

            .book-ticket-decrease-btn::before {
              content: '\2796';
            }

            .book-ticket-increase-btn::before {
              content: '\2795';
            }
          }

          .book-ticket-unit-price-cell {
            justify-content: flex-end;
          }

          .book-ticket-total-price-cell {
            justify-content: flex-end;
          }
        }
      }

      #book-ticket-ticket-box {
        margin-bottom: 10px;
        .book-ticket-list {
          .book-ticket-row {
            .book-ticket-type-cell {
              flex-wrap: wrap;

              .book-ticket-name {
                flex: 100%;
                font-weight: bold;
              }

              .book-ticket-description {
                flex: 100%;
              }
            }
          }
        }
      }

      #book-ticket-food-box {
        .book-ticket-row {
          .book-ticket-type-cell {
            display: grid;
            grid-template-columns: 100px auto;
            column-gap: 10px;
            align-items: flex-start;

            .book-ticket-img {
              img {
                width: 100%;
              }
            }

            .book-ticket-type {
              .book-ticket-name {
                font-weight: bolder;
              }
            }
          }
        }
      }
    }

    #book-ticket-seat-box {
      display: none;
    }

    #book-ticket-checkout-box {
      display: none;
    }

    #book-ticket-info-box {
      background-color: $color-lightgray;
      height: fit-content;
      padding: 10px;
      font-size: 14px;

      .book-ticket-movie-poster {
        width: 80%;
        display: block;
        margin: auto;
        margin-bottom: 10px;
      }

      .book-ticket-movie-name {
        text-transform: uppercase;
        font-weight: bold;
      }

      .vie-name {
        color: $color-darkgray;
        margin-bottom: 10px;
      }

      .book-ticket-showtime-info {
        border-bottom: 1px dotted $color-darkgray;
        padding: 10px 0;
      }

      .book-ticket-total-price {
        padding: 10px 0;
        font-size: larger;

        span {
          font-size: x-large;
          color: $color-orange;
        }
      }

      .book-ticket-continue-btn {
        display: block;
        margin: auto;
        margin-top: 10px;
        padding: 10px 20px;
        background-color: $color-orange;
        color: $color-white;
        border: none;
        outline: none;
      }

      .book-ticket-continue-btn:hover {
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  #book-ticket-container {
    #book-ticket-main {
      #book-ticket-ticketfood-box {
        .book-ticket-box-section {
          .book-ticket-row {
            display: grid;
            grid-template-columns: auto 100px 80px 100px;
            padding: 8px;
            border-bottom: 1px solid $color-gray;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  #book-ticket-container {
    #book-ticket-main {
      grid-template-columns: auto;
      
      .book-ticket-select-box {
        margin-bottom: 20px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  #book-ticket-container {
    #book-ticket-main {
      #book-ticket-ticketfood-box {
        .book-ticket-box-section {
          .book-ticket-row {
            grid-template-columns: auto 80px 80px;

            .book-ticket-total-price-cell {
              display: none;
            }
          }

          .book-ticket-total-row {
            display: none;
          }
        }

        #book-ticket-food-box {
          .book-ticket-row {
            .book-ticket-type-cell {
              grid-template-columns: 60px auto;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  #book-ticket-container {
    #book-ticket-main {
      #book-ticket-ticketfood-box {
        .book-ticket-box-section {
          .book-ticket-row {
            grid-template-columns: auto 60px 70px;
          }
        }

        #book-ticket-food-box {
          .book-ticket-row {
            .book-ticket-type-cell {
              display: block;
              .book-ticket-img {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
