
@import '../base/variable';
@import 'movie-on-show';

.content-card {
  opacity: 0;
  transition: 1.5s;
}

.content-card:hover {
  opacity: 1;
}

.mini-title-movie-1 {
  font-weight: 600;
  font-size: 19px;
  color: $black;
  opacity: .7;
  text-transform: uppercase;
}

.mini-title-movie-2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  color: $black;
  opacity: .6;
}

.title {
  color: $bs-success-color;
  font-size: 40px;
  font-weight: 600;
}

.title:hover {
  text-decoration: none;
  color: $bs-success-color;
  font-weight: 800;
  font-size: 40px;
}

.title-link-review {
  color: $multi-background;
  font-weight: 600;
  font-size: 20px;
}

.title-link-review:hover {
  color: $color-orange;
  font-weight: 700;
  text-decoration: none;
}

.brief-content-review {
  color: $multi-background;
  font-size: 14px;
}


.promotion-onshow-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: all 300ms;
  opacity: 0;
  background-color: $multi-background;
  position: absolute;
  top: 0;
  left: 0;
}

.promotion-onshow-content:hover {
  opacity: 1;
}

.promotion-btn {
  position: relative;
  bottom: -180px;
  border: 1px solid $white;

}

.promotion-btn:hover {
  background-color: $color-orange;
  text-decoration: none;
  font-weight: 700;
}
