
@import '../base/variable';
@import 'movie-on-show';

.content-card {
  opacity: 0;
  transition: 1.5s;
}

.content-card:hover {
  opacity: 1;
}

.mini-title-movie-1 {
  font-weight: 600;
  font-size: 19px;
  color: $black;
  opacity: .7;
  text-transform: uppercase;
}

.mini-title-movie-2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  color: $black;
  opacity: .6;
}

.title {
  color: $bs-success-color;
  font-size: 40px;
  font-weight: 600;
}

.title:hover {
  text-decoration: none;
  color: $bs-success-color;
  font-weight: 800;
  font-size: 40px;
}

