
@import '../base/variable';
@import 'movie-on-show';

.content-card {
  opacity: 0;
  transition: 1s;
}

.content-card:hover {
  opacity: 1;
}

.mini-title-movie-1 {
  font-weight: 600;
  font-size: 19px;
  color: $black;
  opacity: .7;
  text-transform: uppercase;
}

.mini-title-movie-2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  color: $black;
  opacity: .6;
}

.title {
  color: $bs-success-color;
  font-size: 40px;
  font-weight: 600;
}

.title:hover {
  text-decoration: none;
  color: $bs-success-color;
  font-weight: 800;
  font-size: 40px;
}

.title-link-review {
  color: $multi-background;
  font-weight: 600;
  font-size: 20px;
}

.title-image {
  width: 100%;
  border-radius: 6px;
}

.title-link-review:hover {
  color: $color-orange;
  font-weight: 700;
  text-decoration: none;
}

.brief-content-review {
  color: $multi-background;
  font-size: 14px;
  opacity: .7;
}


.promotion-onshow-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: all 200ms;
  opacity: 0;
  background-color: $multi-background;
  position: absolute;
  top: 0;
  left: 0;
}

.promotion-onshow-content:hover {
  opacity: 1;
}

#promotion-btn {
  position: absolute;
  border: 1px solid $white;
  height: 48px;
  width: 140px;
  left: 50%;
  margin-left: -70px;
  top: 70%;
  margin-top: -24px;
  font-size: 22px;
}

#promotion-btn:hover {
  background-color: $color-orange;
  text-decoration: none;
  font-weight: 700;
}

.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 25px;
  width: 100%;
  padding-top: 20px;
}


@media only screen and (max-width: 1200px) and (min-width: 1020px) {
  .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 25px;
  }
  
}

@media only screen and (max-width: 1050px) and (min-width: 992px) {
  .card-title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card-text {
    visibility: hidden;
  }
}
