@import '../base/variable';

.bg-poster {
  //background-image: linear-gradient(to top, $box-shadow-login-1-color , $box-shadow-login-1-color), url('/images/design/fate.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;

}

.poster {
  position: relative;
  height: 80%;
  width: 70%;

}

.infor-book-box {
  width: 150px;
  font-size: larger;
  position: 50% 0%;

}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 25px;
}


.cinema-name {
  align-items: center;
  background-color: $cinema-name-bgc;
  border-left: 10px solid $cinema-name-border-left-color;
  color: $white;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  padding-left: 10px;
  width: 250px;
}



.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.icon-star {
  height: 25px;
  width: 25px;
}

.small {
  font-size: .8125rem;
  font-weight: 400;
}

.review-content {
  font-size: 20px;

}

.like-dislike-icon {
  height: 30px;
  width: 30px;
  border: 1px solid $black;
  padding: 5px;
  border-radius: .3em; 
}

.btn-block {
  font-size: 17px;
  background-color: $color-lightgray;  
}
