@import '../base/variable';

#bg-poster {
  background-attachment: fixed;
  background-image: url('../../images/design/fate.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  }

.cinema-name {
  align-items: center;
  background-color: $cinema-name-bgc;
  border-left: 10px solid $cinema-name-border-left-color;
  color: $white;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  padding-left: 10px;
  width: 250px;
}
