@import '../base/variable';
@import './review';
@import './showtimes';

@keyframes fadeinup {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fade-in-up {
  animation-duration: $modal-animation-duration;
  animation-name: 'fadeinup';
}

.onshow-banner {
  width: 262;
  height: 393;
  position: relative;
  transition: all 300ms;
  display: table;

  img {
    width: 100%;
    height: 100%;
  }
}

.movie-onshow-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: all 300ms;
  opacity: 0;
  background-color: $multi-background;
  position: absolute;
  top: 0;
  left: 0;
}

.movie-onshow-content:hover {
  opacity: 1;
}

.movie-onshow-pg {
  min-width: 10px;
  padding: 2px;
  margin: 5px 0;
  border: 1px solid $link-color;
  background-color: $link-color;
  border-radius: 1rem;
  color: $white;
}

.movie-onshow-btn {
  text-transform: uppercase;
  color: $white;
  font-weight: bold;
  border: 1px solid $white;
  padding: 15px 30px;
  text-decoration: none;
}

.movie-onshow-btn:hover {
  color: $color-orange;
  border-color: $color-orange;
}

.movie-name-title {
  text-transform: uppercase;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vn {
  font-weight: normal;
  color: $color-gray;
}

.movie-more-btn {
  text-transform: uppercase;
  color: $color-orange;
  background-color: $white;
  font-weight: bold;
  border: 1px solid $color-orange;
  padding: 15px 30px;
  text-decoration: none;
  transition: .5s;
}

.movie-more-btn:hover {
  color: $white;
  border-color: $color-orange;
  background-color: $color-orange;
}

.movie-onshow-header {
  border-bottom: 1px solid $color-gray !important;
}

.nav-link.mv-tab-custom {
  color: $color-gray;
}

.nav-link.mv-tab-custom.active {
  color: $black;
  background-color: $white;
  border-bottom: 3px solid $color-orange;
}

.nav-link.mv-tab-custom.active:hover {
  color: $black !important;
}

.nav-link.mv-tab-custom:hover {
  color: $color-orange !important;
}

.mv-tab-custom {
  text-transform: uppercase;
  color: $black;
  font-size: 18px;
  outline: none;
  padding: 10px 0;
  margin: 0 10px;
}
