@import '../base/variable';

.container-custom {
  margin: 50px 175px auto;
  font-size: 20px;
}

a:first-child {
  color: $accent-color;
  opacity: .7;
  font-size: 18px;
}

a:first-child:hover {
  text-decoration: none;
  color: $link-color;
  transition-duration: .5s;
  opacity: .7;
}

.title-promotion {
  text-transform: capitalize;
  margin-top: 20px;
}

.button {
  background-color: $tag-color;
  padding-left: 8px;
  padding-right: 10px;
  padding-bottom: 2px;
  font-size: 14px;
}


.img-like {
  padding-bottom: 2px;
  width: 20px;
  height: 20px;

}

.img-content {
  margin-left: 180px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 75%;
  display: block;
  position: relative;
}

.content p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.content ul {
  margin-top: 20px;
  margin-bottom: 20px;
}
