@import '../base/variable';

.container-custom {
  margin: 50px 100px;
}

a:first-child {
  color: $accent-color;
  opacity: .7;
  font-size: 20px;
}

a:first-child:hover {
  text-decoration: none;
  color: $link-color;
  transition-duration: .5s;
  opacity: .7;
}

.title-promotion {
  text-transform: capitalize;
  margin-top: 20px;
}

.button {
  background-color: $tag-color;
  padding-left: 8px;
  padding-right: 10px;
  padding-bottom: 2px;
  font-size: 14px;
}


.img-like {
  padding-bottom: 2px;
  width: 20px;
  height: 20px;

}

.img-content {
  margin-left: 180px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 75%;
  display: block;
  position: relative;
}

.content p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.content ul {
  margin-top: 20px;
  margin-bottom: 20px;
}

.content {
  font-size: 20px;
  text-align: justify;
}

#header-other-promotion {
  background-color: inherit;
  border: none;
  outline: none;
  padding: 10px 0;
  cursor: pointer;
  border-bottom: 3px solid $color-orange;
  margin-right: 10px;
  color: $color-orange;
  font-size: 30px;
  text-transform: uppercase;
}

.promotion-onshow-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: all 200ms;
  opacity: 0;
  background-color: $multi-background;
  position: absolute;
  top: 0;
  left: 0;
}

.promotion-onshow-content:hover {
  opacity: 1;
}

.content-card {
  opacity: 0;
  transition: 1.5s;
}

.content-card:hover {
  opacity: 1;
}

#promotion-btn {
  position: absolute;
  border: 1px solid $white;
  height: 48px;
  width: 140px;
  left: 50%;
  margin-left: -70px;
  top: 70%;
  margin-top: -24px;
  font-size: 22px;
}

#promotion-btn:hover {
  background-color: $color-orange;
  text-decoration: none;
  font-weight: 700;
}

.card-title {
  margin-top: 80px;
}

@media only screen and (max-width: 1650px) {
  .container-custom {
    margin: 50px;
  }
  .img-content {
    width: 80%;
    margin-left: 50px;
  }
  .card-title {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 1600px) {
  .container-custom {
    margin: 50p 1px;
  }
}

@media only screen and (max-width: 1500px) {
  .img-content {
    width: 100%;
    margin-left: 1px;
  }
}

@media only screen and (max-width: 1500px) and (min-width: 992px) {
  #promotion-btn {
    position: absolute;
    border: 1px solid $white;
    height: 30px;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    top: 70%;
    margin-top: -15px;
    font-size: 14px;
  }
}
