@import '../base/variable';

.review-title {
  display: inline-block;
  color: $black;
  margin: 0 20px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 10px 0;
    border-bottom: 3px solid $link-color;
  }
}

.review-title:hover {
  color: $link-color;
  text-decoration: none;
}

.review-item {
  height: 230px;
  display: flex;
  margin-bottom: 10px;

  .review-item-img {
    min-width: 40%;
    max-width: 40%;

    img {
      width: 100%;
      padding: 2px;
      border: 1px solid $thumnail-border;
    }
  }

  div {
    margin-left: 10px;
  }

  .review-item-title {
    width: 100%;
    max-height: 30%;
    overflow: hidden;
    color: $black;
    font-weight: bold;
  }
  
  .review-item-img:hover ~ div .review-item-title,
  .review-item-title:hover  {
    color: $color-orange;
  }

  .review-item-img:hover img {
    opacity: .6;
  }

  a {
    text-decoration: none;
  }

  .review-item-content {
    height: 70%;
    overflow: hidden;
    color: $color-lightblack;
    font-style: italic;
  }
}

.review-title-container {
  display: inline-block;
}

.review-title-new {
  box-sizing: border-box;
  padding: 10px 0;
  border: 3px solid $color-orange;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  font-size: 18px;
  outline: 0;
  margin: 10px;
  cursor: pointer;

  a {
    color: $black;
  }
  
  a:hover {
    text-decoration: none;
  }
}

.review-title-new::before {
  position: absolute;
  background: $white;
  z-index: -1;
  transition: .3s;
  content: '';
  height: calc(100% + 3.2px);
  width: calc(100% + 6px);
  top: -3px;
}

.review-title-new:hover::before {
  height: 0;
}

.review-title-container:hover a {
  color: $color-orange;
}

.review-title-new:hover {
  box-shadow: -3px 3px 3px $accent-color,
  3px 3px 3px $accent-color, 
  3px -3px 3px $accent-color, 
  -3px -3px 3px $accent-color;
  transition: .5s;
}
