@import '../base/variable';

#showtimes-container {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 1300px;
  padding: 20px 30px;

  #showtimes-head {
    border-bottom: 1px solid $color-gray;

    button {
      background-color: inherit;
      border: none;
      font-size: 18px;
      outline: none;
      padding: 10px 0;
    }

    #showtimes-controller-movie {
      border-bottom: 3px solid $color-orange;
      cursor: default;
      margin-right: 10px;
    }

    #showtimes-controller-theater {
      border-bottom: 3px solid transparent;
      color: $color-darkgray;
      margin-left: 10px;
    }
  }

  #showtimes-main {
    column-gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-top: 30px;

    .showtimes-col {
      .showtimes-row-head {
        background-color: $color-orange;
        border: 1px solid $color-gray;
        color: $color-white;
        font-size: 16px;
        font-weight: 500;
        padding: 5px 0;
        text-align: center;
      }

      .showtimes-row-list {
        overflow-y: auto;
        max-height: 450px;
        border: 1px solid $color-gray;
        border-top: none;

        .showtimes-row-data {
          border-top: 1px solid $color-gray;
          color: $color-lightblack;
          font-size: 14px;
          font-weight: normal;
          padding: 15px 10px;
        }

        .showtimes-row-data-movie {
          column-gap: 5px;
          cursor: pointer;
          display: grid;
          grid-template-columns: 60px auto 32px;

          .showtimes-row-data-movie-img {
            img {
              width: 100%;
            }
          }

          .showtimes-row-data-movie-name {
            p {
              margin: 0;
              overflow: hidden;
              overflow-wrap: break-word;
              padding: 0 5px;
              text-transform: uppercase;
            }

            .showtimes-row-data-movie-name-ori {
              color: inherit;
            }

            .showtimes-row-data-movie-name-vie {
              color: $color-darkgray;
            }
          }
            
          .showtimes-row-data-movie-label {
            div {
              background-color: $color-orange;
              color: $color-white;
              text-align: center;
              width: 100%;
            }
          }
        }
            
        .showtimes-row-data-theater {
          cursor: pointer;
          overflow: hidden;
          overflow-wrap: break-word;
        }

        .showtimes-row-data-movie:hover,
        .showtimes-row-data-theater:hover {
          background-color: $color-lightgray !important;
        }

        .showtimes-row-data-showtime {
          .showtimes-row-data-showtime-list {
            .showtimes-row-data-showtime-item {
              display: grid;
              grid-template-columns: 100px auto;
              margin-top: 20px;

              .showtimes-row-data-showtime-timegrid {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;

                .showtimes-row-data-showtime-time {
                  border: 1px solid $color-gray;
                  cursor: pointer;
                  font-weight: bolder;
                  margin-bottom: 10px;
                  margin-right: 10px;
                  padding: 3px 10px;
                  width: fit-content;
                }

                .showtimes-row-data-showtime-time:hover {
                  border: 1px solid $color-orange;
                  color: $color-orange;
                }
              }
            }
          }
        }    
      }
    }
  }
}


// Ipad screen
@media only screen and (max-width: 1100px) {
  #showtimes-container {
    max-width: 800px;

    #showtimes-main {
      grid-template-columns: auto;
      grid-row-gap: 30px;
    }
  }
}


// Phone screen
@media only screen and (max-width: 700px) {
  #showtimes-container {
    padding: 20px 10px;

    .showtimes-row-list {
      max-height: 250px;
      overflow-y: auto;
    }
  }
}

.showtimes-col {
  scroll-margin-top: var(--stickyHeight);
}

:root {
  --stickyHeight: 100px;
}
