/* By Athlon Front-End Team */

/* Core variables */
@import 'base/vars';

/* Fonts */
@import 'base/fonts';

// Library
@import './base/lib.scss';

.Content-card
{
  opacity: 0;
  transition: 1.5s;
}
.Content-card:hover
{
  opacity: 1;
}